<%= simple_form_for(@glossary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :topic, placeholder: 'A descriptive topic' %>
    <%= f.select :language_id, Language.pluck(:name, :id), label: 'Language', class: 'form-control' %>
    <%= f.input :description, placeholder: 'Enter a short description about what kind of terms are in this glossary.' %>
    <%= text_field_tag :terms, params[:terms], id: 'terms', placeholder: 'Enter 3-5 terms, comma separated', class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
