<div class="box col3 text-center">
    <h3><%= glossary.topic %></h3>
    <p><%= pluralize(glossary.terms.count, "term") %> | <%= glossary.language.name %></p>
    <div class="row">
      <div class="col-sm-6">
        <%= link_to '#' do %>
          <p><%= fa_icon 'user' %> <%= glossary.user.name %></p>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= link_to '#' do %>
          <p><%= fa_icon 'users' %> <%= pluralize(contributor_count(glossary), 'contributor') %></p>
        <% end %>
      </div>
    </div>
    <table class="table table-condensed terms">
      <th>Terms</th>
      <th>Translations</th>

      <% glossary.terms.each do |term| %>
        <tr>
          <td id="term<%= term.id %>"><%= term.content %>
          <div id="hidden<%= term.id %>" style="display:none;">
            <%= link_to new_term_translation_path(term), class: 'btn btn-xs btn-success', title: 'New Translation', remote: true, :data => { toggle:"modal", target: "#newTranslation#{term.id}" } do %>
              <%= fa_icon 'plus' %>
            <% end %>
          </div>
          </td>
          </div>
          <td title="<%= if term.translations then get_languages(term) end %>"><%= fa_icon 'globe' %> <%= pluralize(term.translations.count, 'language') %></td>
        </tr>

        <%= render partial: 'translations/new', locals: { term: term } %>

        <% if current_user %>
          <script>
          $(document).ready(function(){
              $('td#term<%= term.id %>').hover(function(){
                  $('#hidden<%= term.id %>').fadeIn(500)
              },function(){
                  $('#hidden<%= term.id %>').fadeOut(500)
              })
          });
          </script>
        <% end %>
      <% end %>

    </table>
  <div class="view-button">
    <%= link_to 'View', glossary_path(glossary), class: "btn btn-lg btn-primary" %>
  </div>

</div>

