<% if !current_user %>
  <%= render 'welcome' %>
<% end %>

<div class="container">
  <h2>Browse or Create Glossaries</h2>

  <div class="search-and-sort">
    <%= render 'sort_language' %>
  </div>
</div>

<% if @glossaries.empty? %>
  <div class="alert alert-warning">
    <p><%= fa_icon 'bell' %> Looks like there aren't any glossaries for the language you selected. <b>Why not make one with the button below?</b></p>
  </div>
<% end %>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <%= render 'new_button' %>
  <%= render @glossaries %>
</div>

<%= render 'new_glossary' %>

