<div class="container">
  <h1>Mini Glossary</h1>
  <div class="glossary-details">
    <ul>
      <li><h3><%= @glossary.topic %></h3></li>
      <li>
        <%= link_to '#' do %>
          <p><%= fa_icon 'user' %> <%= @glossary.user.name %></p>
        <% end %>
      </li>
      <li>
        <%= link_to '#' do %>
          <p><%= fa_icon 'users' %> <%= pluralize(contributor_count(@glossary), 'contributor') %></p>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="masonry-container text-center">
    <%= render @terms %>
  </div>


</div>