<%= simple_form_for([term, @translation], remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, label: 'Translation', placeholder: 'Enter a translation' %>
    <div class="form-group">
      <%= f.label :language_id, 'What is the language?' %>
      <%= f.select(:language_id, Language.pluck(:name, :id), {}, { class: 'form-control' }) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Add Translation', class: 'btn btn-primary' %>
  </div>
<% end %>
