<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @translation.content %>
</p>

<p>
  <strong>Term:</strong>
  <%= @translation.term_id %>
</p>

<p>
  <strong>Languag:</strong>
  <%= @translation.languag_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @translation.user_id %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
